:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-text-gray: #27252F;
    --color-text-gray-light: #575757;
    --color-form-text-gray: #A7A7A7;
    --color-background-Neongreen: #D6EB31;
    --color-background-dark-blue: #131020;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border:1px solid white; */
}

html{
    background-color:black;
    margin:0;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}

p,a{
    margin:0;
}

.App-layout {
    height: 100dvh;
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 16px;
}

.header-holder {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 25px;
    background-image: url('../images/NavbarBackground.png');
    max-width: 1880px;
    height: 100px;

    a{
        height: 22px;
        text-decoration: none;
        color: var(--color-white);
    }

    a:hover {
        color: var(--color-background-Neongreen);
    }

}

.navbar-midel-btn-holder {
    display: flex;
    max-width: 618px;
    gap:32px;
    align-items:center;
}

.navbar-side-btn-holder {
    display: flex;
    gap: 30px;
    max-width: 295px;
    align-items: center;
}

.navbar-dropdown-btn {
    position: relative;

    .navbar-dropdown-toggle {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        white-space: nowrap;
    }


    .dropdown-arrow {
        font-size: 18px;
        line-height: 1;
    }

    .navbar-dropdown-menu {
        display: none;
        position: absolute;
        top: calc(100% + 12px);
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-background-Neongreen);
        border-radius: 12px;
        padding: 20px 24px;
        min-width: 180px;
        z-index: 100;

        ul {
            list-style: disc;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        a {
            color: var(--color-text-gray);
            font-weight: 500;
            white-space: nowrap;
        }

        a:hover {
            color: var(--color-black);
        }
    }

    &.open .navbar-dropdown-menu {
         display: block;
        
    }
}

.navbar-SignIn-btn {
    background-color: var(--color-background-Neongreen);
    border-radius: 999px;
    padding: 12px 20px 12px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    a.sign-in-link{
        text-decoration: none;
        color: var(--color-text-gray);
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
    }

    .sign-in-arrow {
        font-size: 18px;
        color: var(--color-text-gray);
        font-weight: 600;
        line-height: 1;
    
    }

}