<header>
    <div class="header-holder">
        <img src="~/images/logotype.png" alt="Logo" />
        <div class="navbar-midel-btn-holder">
            <a href="~/Home">Fitness Centers</a>
            <a href="X">Memberships</a>
            <div class="navbar-dropdown-btn" id="trainingDropdown">
            <a class="navbar-dropdown-toggle" onclick="toggleDropdown()"> Training <span class="dropdown-arrow">&#8964;</span></a>
            <div class="navbar-dropdown-menu">
                <ul>
                    <li><a href="X">Personal Training</a></li>
                    <li><a href="X">Group Training</a></li>
                    <li><a href="X">Padel</a></li>
                </ul>
            </div>
            </div>
            <a>Customer Service</a>
            <a>Store</a>
        </div>
        <div class="navbar-side-btn-holder">
            <a href="~/Memberships">Become Member</a>
            <div class="navbar-SignIn-btn">
                <a class="sign-in-link">Sign In</a>
                <span class="sign-in-arrow">&#62;</span>
            </div>
        </div>
    </div>
</header>