<header>
    <div class="header-holder">
        <img src="~/images/logotype.png" alt="Logo" />
        <div class="navbar-midel-btn-holder">
            <a href="X">Fitness Centers</a>
            <a href="X">Memberships</a>
            <div class="navbar-dropdown-btn">
            <a>Training</a>
            </div>
            <a>Customer Service</a>
            <a>Store</a>
        </div>
        <div class="navbar-side-btn-holder">
            <a>Become Member</a>
            <div class="navbar-SignIn-btn">
                <a class="sign-in-link">Sign In</a>
            </div>
        </div>
    </div>
</header>