<header class="site-header">
    <div class="header-inner">
        <a href="/" class="header-logo">
            <span class="logo-icon">✦</span>
            CoreFitness
        </a>
        <nav class="header-nav">
            <a href="/">Fitness Centers</a>
            <a href="/Memberships">Memberships</a>
            <div class="nav-dropdown">
                <a href="/GymClass">Training ▾</a>
                <div class="dropdown-menu">
                    <a href="#">Personal Training</a>
                    <a href="#">Group Training</a>
                    <a href="#">Padel</a>
                </div>
            </div>
            <a href="#">Customer Service</a>
            <a href="#">Store</a>
        </nav>
        <div class="header-actions">
            <a href="/SignUp" class="btn-become-member">Become Member</a>
            <a href="/SignInPage" class="btn-signin">Sign In →</a>
        </div>
    </div>
</header>
